
.title {
  color: white;
  text-align: center;
  background: $orange;
  padding: 70px 0;
  h1 {
    margin: 0;
    padding: 9px;
    font-size: 49px;
  }
}

.first-line {
  display: flex;
  justify-content: center;
}

.name { color: white; }

.my-photo {
  width: 325px;
  border: solid white;
  margin: 34px 0 5px;
}


.title-description {
  text-align: center;
  width: 621px;
  margin: 25px auto 0;
  p{
    margin-top: 35px;
    font-size: 19px; }
}


.contact {
  text-align: center;
  background-position: center;
  background-size: cover;
  opacity: .7;
  background-attachment: fixed;
  h2{
    margin: 12px 0;
    font-size: 46px;
    color: black;
  }
}

.links {
  margin-top:10px;
}

.contact-box {
  height: 100%;
  padding: 47px 200px;
  background: #fb9661;
  text-align: right;
  opacity: .9 !important;
  a{
    color: white;
    opacity: 1 !important;
  }
}

.git-icon {
  font-size: 22px;
  margin: -2px 4px 0px;
}

@media screen and (max-width: 990px) {
  .portfolio {
    padding: 43px 0;
    width: 100%;
    margin: 0;
  }
}


//----------mobile views--------------------------------------------
//------------------------------------------------------------------



@media screen and (max-width: 600px){

  //-------- title section ------------------------------------------
  .title {
    padding: 37px 0;
    h1 {
      font-size: 30px;
      padding: 0px;
    }
    p { font-size: 18px; }
  }


  .my-photo {
    width: 212px;
    margin: 21px;
  }

  .title-description {
    width: 229px;
  }

  //------------portfolio section ---------------------------------



  .project-photos {
    height: 262px;
    width: 282px;
  }

  .project-info {
    height: auto;
  }

  .repo-links {
    margin: 23px auto 0;
  }

  .details h2 {
    margin-bottom: 40px;
  }

//------------- dev tools section ----------------------------------

  .tool-row {
    margin: 0;
  }

  .tool-icon {
    font-size: 49px;
    margin: 12px;
  }

  .third-row, .second-row {
    display: block;
  }


  //--------------contact information section ---------------------

  .contact-box {
    padding: 47px 46px;
    text-align: center;
  }
}
