
.title{
  color: white;
  text-align: center;
  background: $orange;
  padding: 70px 0;
  h1 {
    margin: 0;
    padding: 9px;
    font-size: 49px;
  }
}

.first-line{
  display: flex;
  justify-content: center;
}

.name{ color: #4333fc; }

.my-photo{
  width: 280px;
  border: solid white;
  margin: 39px;
}


.title-description{
  text-align: center;
  width: 450px;
  margin: 25px auto 0;
  p{
    margin-top: 35px;
    font-size: 19px; }
}

.portfolio{
  text-align: center;
  padding: 75px;
  h1{ color: #544f4f; }
}

.project-photos{
  height: 282px;
  margin-top: 34px;
  box-shadow: 2px 1px 14px lightgray;
  border: 4px solid white;
}

.details{
  text-align: center;
  padding: 40px;
  background: $light-gray;
  color: #544f4f;
  h1{
    margin-bottom: 66px;
   }
}

.tool-icon{
  font-size: 74px;
  margin: 40px;
  color: $orange;
  padding: 20px;
}

.second-row, .third-row{
  display: flex;
  justify-content: center;
  }
