
.title{
  color: white;
  text-align: center;
  background: $orange;
  padding: 70px 0;
  h1 {
    margin: 0;
    padding: 9px;
    font-size: 49px;
  }
}

.first-line{
  display: flex;
  justify-content: center;
}

.name{ color: #4333fc; }

.my-photo{
  width: 280px;
  border: solid white;
  margin: 39px;
}


.title-description{
  text-align: center;
  width: 523px;
  margin: 25px auto 0;
  p{
    margin-top: 35px;
    font-size: 19px; }
}

.portfolio{
  text-align: center;
  padding: 75px;
  h2{
    color: #544f4f;
    font-size: 46px;
  }
}

#who-cooks{
  height: 300px;
}

.project-photos{
  height: 285px;
  margin: 34px auto;
  box-shadow: 2px 1px 14px lightgray;
  border: 4px solid white;
  background-size: cover;
  width: 313px;

}


.project-photos:hover{
  box-shadow: 2px 1px 14px $orange;
  padding: 6px;
}

.content{
  z-index: -1;
  position:relative;
}

.details{
  text-align: center;
  padding: 40px;
  background: $light-gray;
  color: #544f4f;
  h2{
    font-size: 46px;
    margin-bottom: 66px;
   }
}

.tool-icon{
  font-size: 74px;
  margin: 40px;
  color: $orange;
  padding: 20px;
}

.second-row, .third-row{
  display: flex;
  justify-content: center;
  }

.tool-row{
    margin-top: 20px;
  }

.contact{
  text-align: center;
  background-position: center;
  background-size: cover;
  opacity: .7;
  background-attachment: fixed;
  h2{
    margin: 12px 0;
    font-size: 46px;
    color: #544f4f;
  }
}

.links{
  margin-top:10px;
}

.contact-box{
  height: 100%;
  padding: 47px 200px;
  background: #fb9661;
  text-align: right;
  opacity: .9 !important;
  a{
    color: white;
    opacity: 1 !important;
  }
}
