 .portfolio {
  text-align: center;
  margin: 87px auto 0;
  h2{
    color: $orange;
    font-size: 46px;
  }
}

#who-cooks {
  height: 300px;
}

.project-photos {
  margin: 34px auto;
  box-shadow: 2px 1px 14px lightgray;
  border: 4px solid white;
  background-size: cover;
  width: 100%;
  max-width: 280px;
  height: 250px;
}


.project-photos:hover {
  box-shadow: 2px 1px 14px $orange;
  padding: 6px;
}

.project-info {
  height: 137px;
  width: 273px;
  margin: 25px auto;
}

.repo-links p{
  margin: 0
}

.repo-links {
  color: $orange;
  display: flex;
  margin: 38px auto 84px;
  padding: 6px;
  width: 126px;
  align-items: center;
}

.repo-links:hover {
  color: #33333;
  text-decoration: none;
}

.my-repo {
  margin-top: 38px;
  background: #F4F4F4;
  padding: 20px;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .project-photos {
    height: 285px;
    margin: 22px auto;
    width: 317px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio {
    margin: 15px auto 0;
  }

  .project-photos {
    height: 262px;
    width: 282px;
  }

  .project-info {
    height: auto;
  }

  .repo-links {
    margin: 23px auto 0;
  }

  .details h2 {
    margin-bottom: 40px;
  }
}
