<div class= "details">
    <h2>My Prefered Tools</h2>
    <p class= "languages-subheading">I'm dedicated to learning new technologies and expanding the base that I already have. These are my main tools.</p>

    <div>
      <div class= "mobile-row">
        <div class= "row tool-row">


          <div>
            <i class= "devicon-ruby-plain tool-icon"></i>
            <p>Ruby</p>
          </div>

          <div>
            <i class= "devicon-javascript-plain tool-icon"></i>
            <p>JavaScript</p>
          </div>
        </div>
      </div>

      <div class= "mobile-row">
        <div class= "row tool-row">
          <div>
            <i class= "devicon-css3-plain tool-icon"></i>
            <p>CSS</p>
          </div>

          <div>
            <i class= "devicon-html5-plain tool-icon"></i>
            <p>HTML</p>
          </div>

          <div>
            <i class= "devicon-bootstrap-plain tool-icon"></i>
            <p>Bootstrap</p>
          </div>

        </div>

          <div class= "row tool-row">
            <div>
              <i class= "devicon-rails-plain tool-icon"></i>
              <p>Ruby on Rails</p>
            </div>

             <div>
              <i class= "devicon-react-plain tool-icon"></i>
              <p>React</p>
            </div>

          </div>


        </div>
      </div>

  </div>

