<div class="containter-fluid">
  <div class="title">
    <h1>Hello, I'm Amy Hogue.</h1>

    <h1>I'm a Full Stack Developer.</h1>

    <p>
      A three-year-old misspelled 'Amy' and gave me the nickname 'Yam.' It stuck.
    </p>
    <%= image_tag 'profile.jpg', class: "my-photo"%>
    <div class="title-description">
      <p>
        I learned to code in Brazil where I got good at Ruby and remained terrible at Portuguese
      </p>
      <p>
        I am joyfully coding the full stack from Denver and Mexico City; I build custom websites and fix broken ones. I have worked hard to learn clean code and I'm still growing. I'm looking to work with people who value life experiences and diversity so I can have with coworkers who show grit and creativity.
      </p>
      <p>
        I love Colorado, but I'm in a good place in life to relocate
      </p>
      <p>
        - This portfolio is my own design: I'm not into templates -
      </p>
    </div>
  </div>

  <%= render 'portfolio' %>

  <%= render 'languages' %>

  <div class="contact", style="background-image: url(<%= image_path("phone.jpg")%> );">

    <div class="contact-box">
      <h2>Drop a Line</h2>
      <div class="info">
        <a href="tel:3033458423" class="links"> Phone: 303-345-8422</a><br>
        <a href="mailto:hogue.a@gmail.com" class="links">Email: hogue.a@gmail.com</a>
      </div>
    </div>
  </div>

</div>
