<div class="containter">
  <div class="title">
    <h1>Hello, I'm Amy Hogue.</h1>
    <h1>I'm a fullstack developer.</h1>
    <%= image_tag 'amy.jpg', class: "my-photo"%>
    <div class="title-description">
      <h3>Let me biuld</h3>
      <h6>I am looking for a job, but I don't want to work. I'm part of the Colorado conspiracy. You don't need to join us, you don't have a choice.</h6>
    </div>
  </div>
  <div class="portfolio">
  <h3>The Goods</h3>
  </div>
</div>
