#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.blog-photo {
  height: 300px;
  border-radius: 1%;
}

.blog-links {
  display: flex;
  box-shadow: 1px 2px 8px 1px #8080806b;
  border-radius: 6px;
  padding: 10px;
  color: #5d5d5d;
  text-align: left;
  width: 65%;
  margin: 35px auto;
  h3 {
    margin: 0;
  }
  p {
    font-size: 14px;
  }
}

.blog-links:hover {
  background: #efefef
}

.preview-image {
  margin-right: 13px;
  height: 109px;
  width: 177px;
  border-radius: 3px;
}

.navbar-sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  a {
    font-size: 14px;
    color: #599fc5;
  }
  h4{ font-size: 18px;}
  a:hover {
    text-decoration: none;
    color: white;
  }
}

#about{
  text-align: center;
  width: 600px;
  margin: 40px auto;
}

.td-none:hover {
  text-decoration: none;
}

.link-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  h6 { font-size: 12px; }
}

.tc {
  text-align: center;
}

.avatar {
  height: 150px;
  width: 150px;
  margin: 50px auto;
  background-size: cover;
  border-radius: 50%
}

.banner-comment-home {
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  a {
    display: flex;
    color: #599fc5;
     }
}

.nav-links a:hover {
  text-decoration: none;
  color: #4e788e;
}

.nav-arrow {
  margin: 17px 4px;
}

.sign-up-btn {
  background: #599fc5;
  border-color: white;
  border-radius: 4px;
}

.sign-up-btn:hover {
  background: #4e788e;
  border-color: white;
}

.sign-up-btn:active {
  background: #4e788e;
}

.sign-up-btn:focus {
  background: #4e788e;
}

.sign-up-btn:visited {
  background: #4e788e;
}

.sign-up-btn:active:focus {
  background: #4e788e;
}

#subscribe{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 900px) {
  #about{
    width: auto;
  }

  .preview-image {
    max-width: 350px;
    width: 100%;
    height: auto;
    margin-bottom: 7px;
  }

  .blog-links {
    display: block;
    text-align: center;
    width: auto;
  }

  .link-title {
    display: block;
  }

  .navbar-sticky {
    padding: 0 10px;
  }

  .navbar-sticky h4 {
    font-size: 15px;
  }
}
