<div class="container-fluid">
  <div class="row">
    <div class="banner welcome-post-banner" id = "cholula" style="background-image: url(<%= image_path('https://res.cloudinary.com/ahg1/image/upload/v1539882341/IMG_8143_ivq9xb.jpg')%>);">
    </div>
  <div class="banner-comment mr-15"><p>(Photo: Plazuela de Los Sapos, Puebla)</p></div>
</div>

<div class="container post-container">
  <div class="row">
    <div class="banner-heading">
      <h1>Team Tinfoil</h1>
    </div>

    <p>
      Ok, I'm not trying to be an alarmist, but Facebook's evil grasp is so far reaching that it just might be the end of civilized society. At best.
    </p>
    <p>
    Here's why:
    </p>
    <p>
      First of all: algorithms that show you what users only what they want to see. A world where you only see people and "news" articles that Facebook has precisely calculated to be EXACTLY what you like. The end result, as we've seen, is pockets of crazy a-holes who have no clue that they aren't batshit crazy (flat. earthers.) and it's really freaking me out. It's a very 1984 dystopian world where we are kept blind. I was especially scared when I found people who are posting 15-20 fake articles <strong>A DAY</strong> and just getting themselves more and more worked up about shit that's not real (FLAT EARTHERS - <a href="https://en.wikipedia.org/wiki/Pizzagate_conspiracy_theory" target="_blank" rel="noopener">PIZZA GATE -</a> <a href="https://www.independent.co.uk/news/world/americas/dog-with-ham-on-its-face-tricks-people-on-facebook-into-praying-for-burns-recovery-a6791511.html" target="_blank" rel="noopener">THIS DOG WITH A MELTED FACE</a>)
    </p>
    <p>
      Secondly, let's talk about the appearance of happiness. I tryyyy to keep it real, but fall short and we all do and maybe that's fine.  Then there's Shannon Watts who had a picture perfect life according to social media: nice little house outside of Denver, two adorably beautify girls and another baby on the way. A husband she called her "rock" and a seemingly lucrative business selling some weird wearable patches that did...patch things. You've probably heard the story; she and her children were devastatingly murdered at the hands of her husband and hearts were broken and no one could believe it. It received a lot of media attention, but to me it drove home the point that appearances on social media not only mean nothing, but might be harmful to people who feel afraid to express turmoil because they have to seem perfect. Add to that the research that increased social media use adds to anxiety and depression and there's no doubt in my mind that Facebook is an unhealthy vice at best.
    </p>
    <p>
      And for the nail in the coffin: let's talk about privacy -- Here's where I put on a foil hat so they can't hear my thoughts.
    </p>
    <p>
      Now as an American, the thought of privacy is kind of laughable. I have no doubts of the capabilities of the US government to monitor my every move. Instead of microwaving my passport to explode the chip inside, I've always just rolled with it. I assumed that I have nothing to hide and they are presumably catching the bad guys and spreading the obvious lie that the earth is round.  --Like a ball. I know, it's crazy -- Anyway, I didn't care. At all. In fact, I didn't try to hide anything because I figured there's no point in trying.
    </p>
    <p>
      But we're beyond that, my friends. I'll leave it at that and I'm going to go put on a foil corset so they can't read my guts as well as my thoughts. You can ask me my thoughts about this if you want to know more and I'll spill the beans.
    </p>
    <p>
      So, I deleted my Facebook. I can't decide if it's really annoying and lame to announce it and pretend you all should care, or if that's something that I do <em>have</em> to announce. It is so deeply engrained in our culture that couples dream about their social media announcement of an engagement perhaps more than the engagement itself.  If a baby's birth isn't announced on social media these days, was the baby actually even born? Do they have legal status? Doubt it. It's expected that major life events will be shared through social media, so turning my back on that feels a little treasonous.
    </p>
    <p>
      I have enjoyed sharing my travels on facebook and seeing what other people are doing.  The hardest part of leaving is that on social media and in writing I come across as fairly charismatic and interesting, but in real life I want to go home and eat Twizzlers and watch something stupid on Netflix and I don't know how to answer the question "What's new?" or how much eye contact we humans make. I forgot. It shows.
    </p>
    <p>
      I have a dream of social media that's designed to be the exact opposite of Facebook in every way. Instead of having a thousand friends you barely know, we'll share updates with our inner circle. Instead of sharing short, attention grabbing posts: we share thoughtful and meaningful exchanges. Instead of triggering addiction in the brain, it triggers comfort. Instead of being a book of <em>faces</em>; it's a book of messy, honest lives and we don't fucking sell it to advertisers. Also free tinfoil hats for everyone.
    </p>
    <p>
      My next post will be about what has been called my "coding enterprise"- drop me a message if you have thoughts about this post or if you have questions about my code-ventures so I can either answer or avoid them.
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="row photo-row">
    <%= image_tag 'https://res.cloudinary.com/ahg1/image/upload/v1539880636/IMG_E8362_goycwu.jpg', class: "long-photo"%>
  </div>
</div>

<div class="container">
  <div class="row nav-links">

    <%= link_to post_path(id: '03-travel') do %>
      <i class="fa fa-arrow-left nav-arrow" aria-hidden="true"></i>
      <h4>Older Post</h4>
    <% end %>

    <%= link_to blog_path do %>
      <i class="fa fa-home nav-arrow" aria-hidden="true"></i>
      <h4>Home</h4>
    <% end %>


  </div>
</div>
