#mexico-featured-photo {
  background-position: bottom;
  color: black;
  padding: 100px;
  opacity: 0.95;

}

.banner-comment {
  text-align: right;
}

.uniform-photo {
  width: 332px;
  height: 375px;
  margin-bottom: 5px;
}


@media screen and (max-width: 700px) {
  #mexico-featured-photo {
    padding: none;
    color: black;
    h1 {
      background: none;
      font-size: 9vh;
    }
  }
}
